{% extends 'base.html.twig' %}

{% set title = "New application"|trans %}

{% if application.id is not null %}
    {% set title = "Edit application"|trans %}
{% endif %}

{% block title %}{{ title }}{{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                {% include 'components/messages.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                {{ include('admin/application/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
