{% extends 'base.html.twig' %}

{% block body %}
<div
     id="login-input"
     data-csrf="{{ csrf_token('authenticate') }}"
     data-email="{{ last_username }}"
     data-error="{{ error ? error.messageKey|trans(error.messageData) : null }}"
></div>
{% endblock %}
