<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} | {{ app_name }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="app-root"></div>
{% block body %}
{% endblock %}
{% block javascripts %}
    {% include('components/globals.html.twig') %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
