{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto vertical-center d-flex">
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto p-5">
        {% block card %}{% endblock %}
    </div>
</div>
{% endblock %}
