<form name="" class="d-inline-block" method="post" action="{{ action }}"
      onsubmit="return confirm('{{'Would you like to delete %entity%?'|trans({'%entity%': entity}) }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf }}">
    <button class="btn btn-outline-danger"><i class="far fa-trash"></i></button>
</form>
