{% extends 'base.html.twig' %}

{% block title %}{{ 'Login'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="container vertical-center">
        <div class="row">
            <div class="col-lg-5 max-w-sm rounded overflow-hidden shadow-lg mx-auto">
                <iframe
                    class="d-block mx-auto"
                    height="270"
                    width="500"
                    frameborder="0"
                    style="overflow:hidden; width: 500px; position: relative; top: 50%; transform: translateY(-50%);"
                    scrolling="no"
                    sandbox="allow-forms allow-same-origin allow-top-navigation allow-top-navigation-by-user-activation allow-scripts"
                    src="http://localhost:8000/auth/1a66b49a-f601-11eb-9a03-0242ac130003/login"
                >
                </iframe>
            </div>

        </div>
    </div>
{% endblock %}


